[package]
name = "yrs"
version = "0.14.1"
description = "High performance implementation of the Yjs CRDT"
license = "MIT"
authors = ["Kevin Jahns <kevin.jahns@pm.me>", "Bartosz Sypytkowski <b.sypytkowski@gmail.com>"]
keywords = ["crdt", "yrs"]
edition = "2018"
homepage = "https://github.com/y-crdt/y-crdt/"
repository = "https://github.com/y-crdt/y-crdt/"
readme = "./README.md"

[dependencies]
thiserror = "1"
rand = { version = "0.7.0", features = ["wasm-bindgen"] }
lib0 = { path = "../lib0", version = "0.14.1" }
smallstr = { version = "0.2", features = ["union"]}
atomic_refcell = "0.1"

[dev-dependencies]
criterion = "0.3"

[[bench]]
name = "benches"
harness = false

[lib]
doctest = true
bench = true
doc = true
